{%
  set classes = [
    'field',
    'field--name-' ~ field_name|clean_class,
    'field--type-' ~ field_type|clean_class,
    'field--label-' ~ label_display,
    label_display == 'inline' ? 'clearfix',
  ]
%}
{%
  set title_classes = [
    'field__label',
    label_display == 'visually_hidden' ? 'visually-hidden',
  ]
%}

{% if multiple %}
  <div{{ attributes.addClass(classes, 'field__items') }}>
    <div class="splide view-content-gallery">
      <div class="splide__track">
        <ul class="splide__list">
          {% for item in items %}
            <li class="splide__slide field__item"{{ item.attributes.removeClass('field__item') }}>
              {{ item.content }}
            </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
{% else %}
  {% for item in items %}
    <div{{ attributes.addClass(classes, 'field__item') }}>{{ item.content }}</div>
  {% endfor %}
{% endif %}