{%
  set classes = [
    'paragraph',
    'paragraph--type--' ~ paragraph.bundle|clean_class,
    view_mode ? 'paragraph--view-mode--' ~ view_mode|clean_class,
    not paragraph.isPublished() ? 'paragraph--unpublished'
  ]
%}
{% block paragraph %}
    <div{{ attributes.addClass(classes) }}>
    {{ content.contextual_links }}
    {% block content %}
    <div class="wrapper">
        <div class="right">
            <div class="titles">
                {{ content.field_title_h2 }}
                {{ content.field_link }}
            </div>
            {{ content.field_body }}
        </div>
        <div class="left">
            {{ content.field_image }}
        </div>
    </div>
    {% endblock %}
  </div>
{% endblock paragraph %}
